# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
*.env
*.venv

# VS Code
.history/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Google credentials and tokens
token.json
credentials.json

# Misc
*.bak
*.swp

*.json
checks.txt
*.pickle

